@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

// @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
// @import url("//fonts.googleapis.com/earlyaccess/notosanstc.css");
// @import url("//fonts.googleapis.com/earlyaccess/lato.css");


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #E4F0FF;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 2px;
  grid-template-areas:
  "nav header header"
  "nav content side"
  "nav footer footer";
  height: 100vh;
}
/*
https://stackblitz.com/github/SinghDigamber/angular-css-grid?file=src%2Fapp%2Fmain%2Fmain.component.html,src%2Fstyles.css,src%2Fapp%2Fapp.component.css
		"logo nav nav"
		"sidenav content advert"
		"sidenav footer footer"
*/
app-header {
  color: white;
  font-size: 14px;
  grid-area: header;
  text-align: center;
  background-color: #FA7D44;
}

app-nav {
  grid-area: nav;
  // margin-left: 0.6rem;
  background-color: #2A92BF;
}

app-privacy-policy,
app-main {
  grid-area: content;
  background-color: #F4CE46;
  padding: 25px;
  overflow-y: scroll;
}

app-aside {
  grid-area: side;
  // margin-right: 0.6rem;
  background-color: #2A92BF;
}

app-footer {
  grid-area: footer;
  background-color:#2BB961;
  color: white;
  text-align: center;
  padding: 25px 0;
}

ul li {
  color: white;
}
ul li a {
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 15px;
}

@media (max-width: 991px) {
  app-nav,
  app-aside {
    margin: 0;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "nav"
      "content"
      "side"
      "footer";
    grid-template-rows:auto minmax(60px, auto) 1fr minmax(70px, auto) auto;
  }
}

app-home {
  background-color: rgb(219, 218, 219);
  grid-area: content;

  padding: 25px;
  overflow-y: scroll;
}

app-arquivo-deposito {
  background-color: rgb(219, 218, 219);
  grid-area: content;
  padding: 25px;
  overflow-y: scroll;
}

