@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

// @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
// @import url("//fonts.googleapis.com/earlyaccess/notosanstc.css");
// @import url("//fonts.googleapis.com/earlyaccess/lato.css");


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #5b2f06;
}
.menu-spacer {
  flex: 1 1 auto;
  text-align: center;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  max-height: 50px;
}
.container {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 2px;
  // grid-template-columns: 30% 60% 10%;
	// grid-template-rows: 50px 150px 50px;
  grid-template-areas:
  "nav-header header header"
  "nav content side"
  "nav footer footer";
  height: 100vh;
}
/*
https://stackblitz.com/github/SinghDigamber/angular-css-grid?file=src%2Fapp%2Fmain%2Fmain.component.html,src%2Fstyles.css,src%2Fapp%2Fapp.component.css
		"logo nav nav"
		"sidenav content advert"
		"sidenav footer footer"

    		"logo nav nav"
		"sidenav content advert"
		"sidenav footer footer"
*/
app-header {
  color: white;
  // font-size: 14px;
  grid-area: header;
  text-align: center;
  background-color: #8b7266;
  height: 50px;
}

app-nav {
  grid-area: nav;
  // margin-left: 0.6rem;
  background-color: #2A92BF;
}
app-nav-header {
  // color: white;
  // font-size: 14px;
  grid-area: nav-header;
  text-align: center;
  background-color: #FA7D44;
  height: 50px;
}
app-privacy-policy,
app-main {
  grid-area: content;
  background-color: #F4CE46;
  padding: 25px;
  overflow-y: scroll;
}

app-aside {
  grid-area: side;
  // margin-right: 0.6rem;
  background-color: #2A92BF;
}

app-footer {
  grid-area: footer;
  background-color:#2BB961;
  color: white;
  text-align: center;
  // padding: 25px 0;
  height: 50px;
}

ul li {
  color: white;
}
ul li a {
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 15px;
}

@media (max-width: 600px) {
  app-nav,
  app-aside {
    margin: 0;
  }

  /*
  "nav-header header header"
  "nav content side"
  "nav footer footer";
  */

  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav-header"
      "header"
      "nav"
      "content"
      "side"
      "footer";
    grid-template-rows:auto minmax(50px, auto) 1fr minmax(70px, auto) auto;
  }
}

// app-home {
//   background-color: rgb(219, 218, 219);
//   grid-area: content;

//   padding: 25px;
//   overflow-y: scroll;
// }

// app-arquivo-deposito {
//   background-color: rgb(219, 218, 219);
//   grid-area: content;
//   padding: 25px;
//   overflow-y: scroll;
// }

app-users {
  background-color: rgb(203, 113, 205);
  grid-area: content;

  padding: 25px;
  overflow-y: scroll;
}

